*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #292929;
    font-family: 'calibri';
    
}

header{
    background: #03A9F4;
    width: 100%;
    clear: both;
    content:'';
    display: table;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

.img{
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;
}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content:'';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;

}

/* Estilo para centrar el iframe del mapa */
iframe {
    display: block;          /* Hace que el iframe sea un bloque */
    margin-left: auto;       /* Establece el margen izquierdo a automático */
    margin-right: auto;      /* Establece el margen derecho a automático */
    width: 80%;              /* Establece un ancho máximo del 80% del contenedor */
    max-width: 800px;        /* Ancho máximo para el iframe */
}


/* Estilo para las imágenes de las marcas */
#telefonosEnStock #listaTelefonos div img {
    width: 150px;  /* Ancho específico */
    height: auto;  /* Altura automática para mantener la proporción */
    margin: 10px;  /* Margen entre las imágenes */
}

/* Estilo para las imágenes de las marcas */
#telefonosEnStock #listaTelefonos div {
    display: inline-block;  /* Establece el div como un bloque en línea */
    margin: 10px;           /* Añade margen para separación entre las imágenes */
    vertical-align: top;    /* Alinea las imágenes en la parte superior del div */
}



footer{
    background: #343434;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;

}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;

}

.footer-content ul{
    text-align: center;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content:'';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;

    
}

.list li:hover::before{
    width: 70px;

}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
    
}

.social-icons i{
    color: white;
    font-size: 25px;

}

a{ 
    text-decoration: none;
}

a:hover{
    color: #f18930;
}

.social-icons i:hover{
    color: #f18930;
}

.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}